@charset "UTF-8";

@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-stretch: 75% 125%;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-Italic-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-stretch: 75% 125%;
    font-style: italic;
    font-display: swap;
}

* {
    padding: 0px;
    margin: 0px;
    border: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/* Links */

a,
a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}


/* Common */

aside,
nav,
footer,
header,
section,
main {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: inherit;
    font-weight: inherit;
}

ul,
ul li {
    list-style: none;
}

img {
    vertical-align: top;
    outline: none;
}

img,
svg {
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

input,
textarea,
button,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
    display: none;
}

button,
input[type=submit] {
    display: inline-block;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

body {
    font-family: Roboto;
    background: #6A287F;
}

.button {
    border-radius: 20px;
    padding: 22px 40px;
    color: #FFF;
    background: #E94A27;
    border: 1px solid transparent;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all .3s;
}

.button:hover {
    border: 1px solid #E94A27;
    background: #6A287F;
    color: #E94A27;
}

.button-arrow {
    display: flex;
    align-items: center;
    gap: 20px;
}

.button-arrow::after {
    content: url('../img/button-arrow.png');
    height: 25px;
    transition: all .3s;
}

.button-arrow:hover {
    color: #FFF;
    background: #E94A27;
    border: 1px solid transparent;
}

.button-arrow:hover::after {
    transform: translateX(10px);
}


.button-white {
    border-radius: 20px;
    background: #FFF;
    color: #333;
    text-align: center;
    font-size: 16px;
    transition: all .3s;
    font-weight: 600;
    line-height: 18px;
    text-transform: uppercase;
}

.button-purple {
    cursor: pointer;
    border-radius: 20px;
    background: #35346B;
    border: 1px solid transparent;
    transition: all .3s;
    color: white;
    padding: 20px 40px;
}

.button-purple:hover {
    background: white;
    border: 1px solid #35346B;
    color: #35346B;
}

.button-white:hover {
    background: #35346B;
    color: white;
}

.title {
    color: #35346B;
    font-size: 70px;
    font-weight: 800;
    line-height: 100%;
    letter-spacing: 1.4px;
    text-transform: uppercase;
}

.off-scroll {
    overflow: hidden;
}

.header {}


.header__wrapper {
    display: flex;
    background: #F3F2F9;
    border-radius: 0px 0px 32px 32px;
    padding: 20px 40px;
    gap: 40px;
    justify-content: space-between;
}

.header__mobile {
    display: none;
}

.header__logo {}

.header__center {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header__list {
    border-radius: 20px;
    background: #FFF;
    display: flex;
    align-items: center;
    gap: 32px;
    height: 60px;
    padding: 0 36px;
}

.header__list li {
    height: 100%;
}

.header__list li:hover a {
    color: #E94A27;
}

.header__list li a {
    transition: all .3s;
    color: #35346B;
    font-size: 16px;
    height: 100%;
    line-height: 100%;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.header__icon {
    border-radius: 20px;
    background: #FFF;
    cursor: pointer;
    height: 60px;
    width: 60px;
    display: grid;
    place-items: center;
}

.header__auth {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header__enter {
    color: #35346B;
    font-size: 16px;
    line-height: 100%;
}

.hero {
    margin-top: 80px;
}

.hero__bg {
    position: absolute;
    top: 0;
    z-index: -1;
}

.hero__wrapper {
    max-width: 1016px;
    margin: 0 auto;
}

.hero__title {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    line-height: 80px;
    letter-spacing: 1.28px;
    text-transform: uppercase;
}

.hero__title span {
    color: rgba(255, 255, 255, 0.50);
}

.hero__author {
    margin-top: 24px;
    color: rgba(255, 255, 255, 0.60);
    font-family: Roboto;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
}

.hero__text {
    margin-top: 40px;
    color: rgba(255, 255, 255, 0.60);
    font-size: 36px;
    font-weight: 400;
    line-height: 130%;
}

.hero__button button {
    margin-top: 40px;
    padding: 22px 68px;
}

.telegram {
    margin-top: 106px;
    background: #35346B;
}

.telegram__block {
    display: grid;
    align-items: center;
    height: 365px;
    grid-template-columns: 1fr 1.5fr;
    gap: 50px;
}

.telegram__image {
    position: relative;
    height: 100%;
}

.telegram__image img {
    position: absolute;
    height: 100%;
    right: 0;
    bottom: 0;
}

.telegram__info {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    border-radius: 32px;
    background: white;
    padding: 36px;
}

.telegram__info::before {
    content: '';
    top: 50%;
    position: absolute;
    left: -100px;
    transform: translateY(-50%);
    border-bottom: 50px solid transparent;
    border-left: 50px solid transparent;
    border-right: 50px solid white;
    border-top: 50px solid transparent;
}



.telegram__title {
    color: #35346B;
    font-size: 40px;
    font-weight: 800;
    line-height: 140%;
    letter-spacing: 0.88px;
    text-transform: uppercase;
}

.telegram__button {
    margin-top: 36px;
    align-self: flex-end;
}

.courses {
    padding-top: 180px;
    padding-bottom: 180px;
    background: white;
}

.courses__title {}

.courses__items {
    margin-top: 64px;
}

.courses__item {
    padding: 24px;
    height: unset;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
}

.courses__item:hover .courses__arrow svg path {
    stroke: #E94A27;
}

.courses__arrow svg path {
    transition: all .3s
}

.courses__arrow svg {
    margin: 0;
}

.courses__image {
    display: flex;
    justify-content: flex-end;
}

.courses__name {
    color: #FFF;
    font-size: 28px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.56px;
    margin-top: 22px;
    text-transform: uppercase;
}

.courses__descr {
    margin-top: 8px;
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0.4px;
}

.courses__actions {
    margin-top: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.courses__count {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
}

.courses__arrow {
    border-radius: 12px;
    background: #FFF;
    display: grid;
    place-items: center;
    width: 32px;
    height: 32px;
}

.courses__item-orange {
    background: #E94A27;
}

.courses__item-purple {
    background: #7B3D8E;
}

.courses__item-blue {
    background: #35346B;
}

.courses__wrap {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.courses__info {
    height: 100%;
}

.events {
    padding-top: 100px;
    padding-bottom: 80px;
}

.events__wrapper {}

.events__title {
    color: white;
}

.events__items {
    margin-top: 64px;

}

.events__more {}

.events__item {
    margin-top: 24px;
    border-radius: 16px;
    background: #F2F1F8;
    padding: 24px 24px 24px 32px;
    display: flex;
    gap: 40px;
}

.events__datetime {
    display: grid;
}

.events__date {
    color: #35346B;
    font-size: 44px;
    font-weight: 800;
    line-height: 50px;
}

.events__date span {
    color: #35346B;
    font-size: 110px;
    font-weight: 800;
    line-height: 100px;
}

.events__time {
    color: #35346B;
    font-size: 28px;
    line-height: 40px;
}

.events__info {
    border-left: 1px solid #8F89AA;
    padding-left: 36px;
}

.events__tags {
    display: flex;
    gap: 16px;
}

.events__tag {
    color: #35346B;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
}

.events__tag-open {
    color: #8F89AA;
}

.events__name {
    margin-top: 24px;
    color: #35346B;
    font-size: 28px;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: 0.56px;
    text-transform: uppercase;
}

.events__descr {
    margin-top: 16px;
    color: #35346B;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.events__link {
    color: #7B3D8E;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    display: block;
    text-align: right;
    margin-top: 16px;
}

.events__button {
    height: max-content;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    padding: 20px 35px;
    text-transform: uppercase;
    flex-shrink: 0;
    align-self: flex-end;
}

.events__more {
    width: max-content;
    margin: 0 auto;
    display: block;
    padding: 20px 24px;
    margin-top: 56px;
}

.part {
    padding: 36px 0;
    background: #E94A27;
}

.part__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.part__title {
    color: #FFF;
    font-size: 44px;
    font-weight: 800;
    letter-spacing: 0.88px;
    text-transform: uppercase;
}

.news {
    background: white;
    padding-top: 100px;
    padding-bottom: 64px;
}

.news__wrapper {}

.news__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news__title {}

.news__arrows {
    display: flex;
    gap: 10px;
    align-items: center;
}


.news__arrow {
    width: 45px;
    transition: all .3s;
    height: 45px;
    cursor: pointer;
    background: #7B3D8E;
    display: grid;
    place-items: center;
    border-radius: 50%;
}

.news__arrow.swiper-button-disabled {
    background: lightgray;
}

.news__arrow svg {
    width: 20px;
    height: 25px;
}

.news__arrow svg path {
    fill: white;
    stroke-width: 2px;
}

.news__prev svg {
    // margin-left: 3px;
}

.news__slider {
    margin-top: 60px;
}

.news__slide {
    border-radius: 16px;
    border: 1px solid #9392B4;
    background: #F2F1F8;
    height: unset;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: all .3s;
}

.news__slide:hover {
    border: 1px solid #272753;
}

.news__image {}

.news__info {
    padding: 36px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.news__name {
    color: #35346B;
    font-size: 24px;
    line-height: 120%;
}

.news__date {
    margin-top: 24px;
    color: #9392B3;
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
}

.main-gosstart {
    background: #0CAAED;
}

.container {}

.main-gosstart__wrapper {
    padding: 32px 0;
    display: flex;
    align-items: center;
    gap: 23px;
}

.main-gosstart__icon {
    flex-shrink: 0;
}

.main-gosstart__info {}

.main-gosstart__title {
    color: #FFF;
    font-size: 44px;
    font-weight: 800;
    line-height: 140%;
    letter-spacing: 0.88px;
}

.main-gosstart__descr {
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.48px;
}

.main-gosstart__button {
    flex-shrink: 0;
    height: max-content;
    padding: 22px 30px;
    font-size: 24px;
}

.footer {
    padding-top: 65px;
    padding-bottom: 36px;
    background: #F2F1F8;
}

.footer__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__logos {
    display: flex;
    gap: 24px;
}

.footer__download {
    display: flex;
    color: #000;
    color: #35346B;
    font-size: 16px;
    font-weight: 800;
    line-height: 20px;
    letter-spacing: 0.32px;
    gap: 12px;
}

.footer__socials {
    display: flex;
    gap: 16px;
}

.footer__support {}

.footer__support-links {
    margin-top: 12px;
    display: grid;
    gap: 12px;
}

.footer__support-links a {
    margin-top: 12px;
    display: grid;
    gap: 12px;
    color: #35346B;
    font-size: 14px;
}

.footer__bottom {
    border-top: 1px solid #C6BED3;
    margin-top: 53px;
    padding-top: 32px;
}

.footer__bottom a {
    color: #35346B;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0.24px;
}

.news__more {
    margin: 0 auto;
    width: max-content;
    margin-top: 36px;
    font-weight: 600;
}

.footer__bottom {
    margin-top: 24px;
    padding-top: 24px;
}

@media (max-width:1400px) {
    .container {
        padding: 0 20px;
    }

    .hero__title {
        font-size: 56px;
    }

    .hero__author {
        font-size: 22px;
    }

    .hero__text {
        font-size: 28px;
    }

    .telegram__title {
        font-size: 36px;
    }

    .telegram__image img {
        object-fit: cover;
        right: unset;
        left: -0px;
    }
}

@media (max-width:1200px) {

    .header__wrapper {
        align-items: center;
        gap: 25px;
        padding: 20px 20px;
    }

    .header__list li a {
        width: max-content;
    }

    .telegram__image img {
        object-position: -200px 0;
    }

    .telegram__title {
        font-size: 26px;
    }

    .button {
        font-size: 18px;
    }

    .hero__title {
        font-size: 50px;
        line-height: 120%;
    }

    .title {
        font-size: 50px;
    }

    .courses {
        padding-block: 120px;
    }

    .courses__name {
        font-size: 24px;
    }

    .courses__descr {
        font-size: 18px;
    }

    .events__date span {
        font-size: 80px;
        line-height: 80px;
    }

    .events__date {
        line-height: 30px;
    }

    .events__time {
        display: flex;
        align-items: flex-end;
    }

    .part__wrapper {
        gap: 50px;
    }

    .part__title {
        font-size: 32px;
    }

    .news__name {
        font-size: 20px;
    }

    .news__info {
        padding: 25px;
    }

    .main-gosstart__title {
        font-size: 30px;
    }

    .main-gosstart__button {
        font-size: 20px;
    }

    .main-gosstart__descr {
        font-size: 20px;
    }

    .footer {
        padding-top: 50px;
    }

    .footer__socials {
        gap: 10px;
    }

    .footer__wrapper {
        gap: 20px;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

@media (max-width:992px) {

    .header__wrapper {
        display: none;
    }

    .header__mobile {
        display: flex;
        position: relative;
    }

    .header__center {
        top: calc(100% - 25px);
        right: 0;
        opacity: 0;
        position: absolute;
        visibility: hidden;
        transition: all .3s;
        border-radius: 20px;
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.30);
    }

    .header__center .header__list {
        display: grid;
        padding: 16px;
        gap: 20px;
        height: 100%;
    }

    .header__center .header__list li a {
        color: #333;
        font-size: 18px;
        font-weight: 400;
        text-transform: none;
        line-height: 22px;
        text-align: left;
    }

    .header__center.menu-open {
        opacity: 1;
        visibility: visible;
    }

    .header__mobile .header__center.menu-open {
        display: block;
    }

    .header__burger {
        color: #35346B;
        font-size: 16px;
        line-height: 100%;
        display: grid;
        gap: 8px;
    }

    .header__auth {
        display: grid;
        text-align: center;
        gap: 8px;
    }

    .header__burger-wrap {
        background: none;
        border: none;
        cursor: pointer;
        width: 60px;
        height: 60px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: white;
        gap: 5px;
    }

    .header__burger.active .header__burger-wrap {
        background: #7B3D8E;
    }

    .header__burger.active span {
        background: white;
    }

    .header__burger span {
        width: 24px;
        height: 100%;
        max-height: 3px;
        background: #38377A;
        border-radius: 5px;
    }

    .header__mobile-wrap {
        display: flex;
        gap: 16px;
    }

    .telegram__image {
        left: -20px;
    }

    .telegram__image img {
        object-position: -275px 0;
    }

    .telegram__info {
        padding: 20px;
    }

    .button {
        padding: 15px 25px;
    }

    .events__item {
        flex-direction: column;
        gap: 0;
    }

    .events__info {
        padding-top: 36px;
        padding-left: 0;
        border-left: none;
        border-top: 1px solid #8F89AA
    }

    .events__link {
        text-align: left;
        margin-top: 30px;
    }

    .events__button {
        margin-top: -35px;
    }

    .part__wrapper {
        gap: 20px;
    }

    .part__title {
        font-size: 44px;
    }

    .part__image {
        flex-shrink: 0;
    }

    .main-gosstart__wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }

    .main-gosstart__icon {
        width: 20%;
    }

    .main-gosstart__info {
        width: 75%;
    }

    .footer__wrapper {
        justify-content: center;
    }

    .header .container {
        padding: 0;
    }

    .header__wrapper {
        border-radius: 0;
    }

}

@media (max-width:767px) {
    .hero__title {
        font-size: 32px;
    }

    .hero__author {
        margin-top: 8px;
    }

    .hero__text {
        margin-top: 12px;
    }

    .hero__button {
        margin-top: 20px;
    }

    .telegram {
        margin-top: 50px;
    }

    .telegram__block {
        gap: 0;
    }

    .telegram__title {
        font-size: 26px;
    }

    .telegram__button {
        margin-top: 0;
    }

    .telegram__info::before {
        border-bottom: 25px solid transparent;
        border-left: 25px solid transparent;
        border-right: 25px solid white;
        border-top: 25px solid transparent;
        left: -49px;
    }

    .courses {
        padding-block: 50px;
    }

    .courses__items {
        margin-top: 50px;
    }

    .part__wrapper {
        flex-direction: column-reverse;
    }

    .title {
        font-size: 32px;
    }
}

@media (max-width:577px) {

    .hero {
        margin-top: 24px;
    }

    .hero__title {
        font-size: 24px;
    }

    .hero__author {
        font-size: 12px;
    }

    .hero__text {
        font-size: 20px;
    }

    .hero__button .button {
        margin-top: 20px;
        padding: 20px;
        width: 100%;
    }

    .hero__button {
        margin-top: 0;
    }

    .telegram__block {
        grid-template-columns: 1fr 1fr;
        position: relative;
        height: 200px;
    }

    .telegram__image {
        position: absolute;
        left: -20px;
        height: 100%;
    }

    .telegram__image img {
        position: static;
        object-position: -100px 0;
    }

    .telegram__info {
        grid-column: 2;
    }

    .telegram__title {
        font-size: 16px;
        line-height: 100%;
    }

    .telegram__button .button {
        margin-top: 12px;
        font-size: 16px;
    }

    .courses__name {
        font-size: 20px;
    }

    .courses__descr {
        font-size: 12px;
    }

    .courses__count {
        font-size: 14px;
    }

    .courses__item {
        padding: 16px;
    }

    .events__date {
        display: flex;
        padding-top: 1px;
        gap: 10px;
    }

    .events__item {
        padding: 16px;
    }

    .events__name {
        font-size: 20px;
        margin-top: 12px;
    }

    .events__descr {
        margin-top: 10px;
        font-size: 12px;
    }

    .events__button {
        margin-top: 20px;
        width: 100%;
    }

    .events__date span {
        font-size: 72px;
    }

    .events__date {
        font-size: 24px;
    }

    .events__info {
        padding-top: 16px;
    }

    .events__time {
        margin-top: -40px;
        font-size: 16px;
        justify-content: center;
    }

    .events__date p {
        margin-top: 12px;
    }

    .events__datetime {
        margin-bottom: 20px;
    }

    .events__tag {
        font-size: 12px;
    }

    .events__link {
        margin-top: 20px;
    }

    .events__more {
        width: 100%;
    }

    .part__title {
        font-size: 32px;
    }

    .news__arrows {
        display: none;
    }

    .news {
        padding-top: 56px;
        padding-bottom: 49px;
    }

    .news__slider {
        margin-top: 33px;
    }

    .news__more {
        width: 100%;
        font-weight: 600;
        text-align: center;
    }

    .main-gosstart__wrapper {
        justify-content: unset;
    }

    .main-gosstart__info {
        width: 100%;
    }

    .main-gosstart__icon {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .main-gosstart__button {
        width: 100%;
    }

    .footer__logos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .footer__logos img {
        flex-shrink: 1;
        width: 100%;
    }

    .footer__wrapper {
        justify-content: space-between;
    }

    .footer__support-links {
        display: flex;
    }

    .header__mobile {
        position: static;
    }

    .header__logo img {
        max-width: 200px;
    }

    .header__mobile {
        height: 125px;
    }

    .header__center .header__list {
        filter: drop-shadow(0 4px 20px rgba(0, 0, 0, 0.20));
        width: 100%;
        border-radius: 0;
        display: flex;
        gap: 32px;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
    }

    .header__list li {
        height: unset;
        text-align: left;
    }

    .header__list li a {
        justify-content: flex-start;
        align-items: flex-start;
    }

    .header__center {
        top: 124px;
        width: 100%;
        height: calc(100% - 125px);
        z-index: 10;
    }

    .header__auth {
        place-items: center;
        gap: 5px;
    }


    .header__icon {
        height: 40px;
        width: 40px;
        border-radius: 8px;
    }

    .header__burger {
        place-items: center;
        gap: 5px;
    }

    .header__burger-wrap {
        width: 40px;
        height: 40px;
        border-radius: 8px;
    }


    .header__mobile .header__center.menu-open {
        left: 0px;
        transform: scaleX(1);
    }

    .header__mobile .header__center {
        left: -100%;
        transform: scaleX(0);
    }
}